-e git+https://github.com/django/django.git@58062a6302a2bf1013d100deb053ccae2298bb84#egg=Django-dev
PyYAML==3.10
argparse==1.2.1
chardet==2.1.1
distribute==0.6.31
ipython==0.13.1
lxml==3.1beta1
nltk==2.0.4
numpy==1.6.2
pdfminer==20110515
python-magic==0.4.3
readability-lxml==0.2.6.1
requests==1.1.0
scikit-learn==0.13
scipy==0.11.0
slate==0.3
wsgiref==0.1.2
